@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



.loader-wrapper {
  display: grid;
  place-content: center;
  height: 100vh;
}

.loader-wrapper2 {
  display: grid;
  place-content: center;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #ba8c63 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

.navbar {
  position: sticky;
  top: 0px;
  z-index: 999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin-bottom: 0.5rem;
  background-color: #ffffff;
  padding: 20px 2rem;
  box-shadow: 0px 5px 4px #f4f5fd;
  border: 1px solid transparent;
}

.navname{
  font-size: 1.5rem;
  font-weight: 700;
}

.navname > span {
  color: #ba8c63;
}

nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar{
    padding: 20px 4rem;
    
  }
  nav {
    display: flex;
  }
  .navlist{
    display: flex;
    gap: 1rem;
    position: relative;
  }
  .navItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: #ba8c63;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  text-align: center;
}

.headerInfo h2 {
  font-size: 2rem;
  color: #ba8c63;
}

.headerInfo form {
  display: flex;
  gap: 15px;
}
.headerInfo input {
  padding: 10px;
  outline: none;
  border: 2px solid #ba8c63;
  border-radius: 1rem;
  min-width: 250px;
}

.headerInfo form button {
  padding: 10px;
  background-color: #ba8c63;
  color: #ffffff;
  font-family: 'Inter', 'sans-serif';
  outline: none;
  border-radius: 1rem;
  border: 1px solid #ba8c63;
  transition: all ease;
  transition-duration: 1s;

  cursor: pointer;
}

.headerInfo form button:hover{
  box-shadow: 0px 0px 0px;
  transform: translateY(-3px);
  box-shadow: 0px 4px 3px #d59c6e9e;
}

@media screen and (max-width: 768px) {
  .header img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row-reverse;
    gap: 1rem;
    margin-top: 2rem;
    padding: 0 4rem;
  }

  .headerInfo {
    align-items: start;
    text-align: start;
  }

  .header img {
    width: 50%
  }

  .headerInfo p {
    font-size: 0.7rem;
  }
}

.bookshelf {
  margin-top: 3rem;
  padding: 2rem;
  background-color: #f4f5fd;
  min-height: 50vh;
}

.bookshelf h2{
  color: #ba8c63;
  font-size: 1.5rem;
}

.bookgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.bookgrid img {
  transition: all 0.5s ease;
}

@media screen and (min-width: 600px) {
  .bookgrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {

  .bookshelf{
    padding: 4rem;
  }

  .bookshelf h2{
    font-size: 2rem;
  }

  .bookgrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .bookgrid img:hover{
    transform: rotate(-10deg);
  }
}

@media screen and (min-width: 1024px) {
  .bookgrid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.bookgrid img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 4px #808080;
}

.bookgrid h3{
  font-size: 1rem;
  font-weight: 600;
  color: #ba8c63;
  margin-top: 1rem;
}

.bookgrid p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #5b5353;
}

.errorMessage{
  color: #e53310;
  font-weight: 600;
  margin-left: -15rem;
  margin-top: -0.5rem;
}

@media screen and (min-width: 768px) {
  .errorMessage {
    margin-left: 0.5rem;
  }
}

.no-result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bookInfo {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  min-height: 90vh;
}

.bookInfoMain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.bookTitle {
  color: #ba8c63;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

.bookAuthor {
  text-align: center;
  color: #5b5353;
}

.bookDescription {
  text-align: center;
}

.bookbuttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.bookbuttons a {
  color: #ffffff;
  padding: 0.8rem;
  border-radius: 10px;
  transition: all 0.5s ease;
  box-shadow: 0px 5px 3px #c3c3c8;
  cursor: pointer;
  text-decoration: none;
}

.bookbuttons a:hover{
  transform: translateY(5px);
  box-shadow: 0px 0px 0px;
}

.readButton {
  background-color: #ba8c63;
  border: 1px solid #ba8c63;
}

.downloadButton {
  background-color: #79d919;
  border: 1px solid #79d919;
}

.readButton:hover {
  background-color: #3b1d03ec;
  border:1px solid #3b1d03ec;
}

.downloadButton:hover {
  background-color: #034508bd;
  border: 1px solid #034508bd;
}

@media screen and (min-width: 768px) {
  .bookInfo {
    padding: 4rem;
    justify-content: start;
    flex-direction: row;
    align-items: end;
  }

  .bookTitle, .bookAuthor, .bookDescription {
    text-align: start;
  }

  .bookbuttons {
    justify-content: start;
  }

}

footer {
  min-height: 300px;
  background-color: #ba8c63;
  padding: 2rem;
}

.innerFooter{
  background-color: #c3c3c8;
  padding: 2rem;
  border-radius: 1rem;
}

.innerFooter h2 {
  color: #ba8c63;
  text-align: center;
}

.innerFooter p {
  font-size: 0.8rem;
  color: white;
  line-height: 1.3rem;
  letter-spacing: 0.1px;
  margin-top: 1rem;
}

.innerFooter form {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  
}

.innerFooter form input {
  padding: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 1rem;
  outline: none;
  font-family: 'Inter', 'sans-serif';
  box-shadow: 0px 3px 2px #808080;
}

.innerFooter form button {
  padding: 0.5rem;
  border: 1px solid #ba8c63;
  border-radius: 1rem;
  color: #ffffff;
  background-color: #ba8c63;
  font-family: 'Inter', 'sans-serif';
  box-shadow: 0px 3px 2px #ba8b636b;
  cursor: pointer;
  transition: all 0.5s ease;
}

.innerFooter form button:hover{
  transform: translateY(3px);
  box-shadow: 0px 0px 0px;
}

.footerButtons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  justify-content: center;
}

.footerButtons a {
  color: #ba8c63;
  font-size: 1.3rem;
  transition: all 0.5s ease;
}

.footerButtons a:hover{
  color: #46270c;
  font-size: 1.8rem;
}

.loaderForm{
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 4rem;
  }

  .innerFooter form {
    justify-content: start;
  }

  .footerButtons{
    justify-content: start;
  }
}

.toggleIcon {
  color: #ba8c63;
  font-size: 1.3rem;
  padding: 0.3rem;
  cursor: pointer;
}

.navToggled{
  position: absolute;
  background-color: #f4f5fd;
  z-index: 99999;
  height: 100vh;
  top: 0;
  right: 0;
  padding: 1rem;
  width: 250px;
  transition: all 0.5s ease-in;
  display: block;
  opacity: 1;
}

.navNone {
 width: 0px;
 position: absolute;
 opacity: 0;
 right: 250px;
}

.toggled-nav {
  display: flex;
  margin-top: 2rem;
}

.toggled-nav ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toggled-nav .navItems {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: #ba8c63;
}

.toggledButton {
  background-color: transparent;
  padding: 0.5rem;
  color: #ba8c63;
  border: 0px solid;
  font-size: 1.5rem;
  display: flex;
  margin-left: 75%;
}

@media screen and (min-width: 768px) {
  .toggleIcon{
    display: none;
  }

  .navToggled{
    display: none;
  }
}

.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}


