@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.loader-wrapper {
  height: 100dvh;
  display: grid;
  place-content: center;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #ba8c63 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

.navbar {
  position: sticky;
  top: 0px;
  z-index: 999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.navname{
  font-size: 1.5rem;
  font-weight: 700;
}

.navname > span {
  color: #ba8c63;
}

nav {
  display: none;
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
  }
  .navlist{
    display: flex;
    gap: 1rem;
    position: relative;
  }
  .navItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: #ba8c63;
  }
}

main {
  padding: 1rem 2rem;
}

@media screen and (min-width: 768px) {
  main{
    padding: 1rem 4rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  text-align: center;
}

.headerInfo h2 {
  font-size: 2rem;
  color: #ba8c63;
}

.headerInfo form {
  display: flex;
  gap: 15px;
}
.headerInfo input {
  padding: 10px;
  outline: none;
  border: 2px solid #ba8c63;
  border-radius: 1rem;
  min-width: 250px;
}

.headerInfo form button {
  padding: 10px;
  background-color: #ba8c63;
  color: #ffffff;
  font-family: 'Inter', 'sans-serif';
  outline: none;
  border-radius: 1rem;
  border: 1px solid #ba8c63;
}

@media screen and (max-width: 768px) {
  .header img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row-reverse;
    gap: 1rem;
    margin-top: 2rem;
  }

  .headerInfo {
    align-items: start;
    text-align: start;
  }

  .header img {
    width: 50%
  }

  .headerInfo p {
    font-size: 0.7rem;
  }
}